<div class="hero-head">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item logo" href="../">
                    Auth App
                </a>
                <span class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <span class="navbar-item">

                        <% if(!user) { %>
                            <a class="button is-white is-outlined" href="<%=
                            path['Sign up'] %>">
                                    <span class="icon">
                                        <i class="fa fa-pen"></i>
                                    </span>
                                    <span><%= Object.keys(path)[0] %></span>
                                </a>
                        <% } else { %>
                        <a class="button is-white is-outlined" href="<%= path['Profile'] %>">
                            <span class="icon">
                                <i class="fa fa-pen"></i>
                            </span>
                            <span><%= Object.keys(path)[2] %></span>
                        </a>
                        <% } %>

                    </span>
                    <span class="navbar-item">

                            <% if(!user) { %>
                        <a class="button is-white is-outlined" href="<%= path['log in'] %>">
                            <span class="icon">
                                <i class="fa fa-suitcase"></i>
                            </span>
                            <span>
                                <%= Object.keys(path)[1] %></span>
                        </a>
                        <% } else { %>
                            <a class="button is-white is-outlined" href="<%= path['log out'] %>">
                                    <span class="icon">
                                        <i class="fa fa-suitcase"></i>
                                    </span>
                                    <span>
                                        <%= Object.keys(path)[3] %></span>
                                </a>
                                <% } %>

                    </span>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="error-message">
<% if (user) { %>
<!-- show any messages that come back with authentication -->
<% if (message && message.length > 0) { %>
<div class="notification is-success">
  <%= message %>
</div>
<% } %>
</div>
<% } else { %>
<!-- show any messages that come back with authentication -->
<% if (message && message.length > 0) { %>
<div class="notification is-danger">
  <%= message %>
</div>
<% } %>
</div>
<% } %>